<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="edocConfiguration" type="PostCSP.eDocLib.Configuration.EDocLibSection, PostCSP.eDocLib"/>
  </configSections>
  <edocConfiguration >
    <authorities>
      <add issuerMask="AZ e-Government Authority"
           tsaResponderUrl="https://ehm.e-imza.az/tsa/tsa.responder"/>
      <add issuerMask="AZ Governing Bodies Authority"
           tsaResponderUrl="https://hom.e-imza.az/tsa/tsa.responder"/>
    </authorities>
  </edocConfiguration>
</configuration>